@model IEnumerable<UserProject.Models.Location>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2><b>Index</b></h2>
<p>
    <a asp-controller="Location" asp-action="Create" class="btn btn-primary">Create New Location</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.LocationId)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LocationName)
                </td>
                <td>
                    <a asp-controller="Location" asp-action="Details" asp-route-id="@item.LocationId" class="btn btn-info">Details</a>
                    <a asp-controller="Location" asp-action="Edit" asp-route-id="@item.LocationId" class="btn btn-success">Edit</a>
                    <a asp-controller="Location" asp-action="Delete" asp-route-id="@item.LocationId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>