@model IEnumerable<UserSideProject.Models.Movies>
@{ 
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                @*Thumbnail Start*@

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        @*<img src="@item.MultiplexPhoto" class="bd-placeholder-img" card-img-top"/>*@
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text" style="font-weight:bold;">@item.MovieName</p>
                            <p class="card-text" style="font-weight:bold;">@item.MoviePrice</p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @*<button type="button" class="btn btn-sm btn-outline-secondary">Details</button>*@
                                    @*<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>*@
                                    <a asp-controller="BookMovie" asp-action="Book" asp-route-id="@item.MovieId" class="btn btn-sm btn-outline-secondary">Book Movie</a>
                                    <a asp-controller="BookMovie" asp-action="Details" asp-route-id="@item.MovieId" class="btn btn-sm btn-outline-secondary">Details</a>
                                </div>
                                <small class="text-muted">2 Hours</small>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
