@model UserProject.Models.Auditorium
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2><b>Auditorium Details</b></h2>
<br />

<div class="col-md-12">
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>@Html.DisplayNameFor(model => model.AuditoriumId)</b>: @Html.DisplayFor(model => model.AuditoriumId)</li>
            <li class="list-group-item"><b>@Html.DisplayNameFor(model => model.AuditoriumName)</b>: @Html.DisplayFor(model => model.AuditoriumName)</li>
            <li class="list-group-item"><b>@Html.DisplayNameFor(model => model.AuditoriumDescription)</b>: @Html.DisplayFor(model => model.AuditoriumDescription)</li>
            <li class="list-group-item"><b>@Html.DisplayNameFor(model => model.Seats)</b>: @Html.DisplayFor(model => model.Seats)</li>
            <li class="list-group-item"><b>@Html.DisplayNameFor(model => model.Time1)</b>: @Html.DisplayFor(model => model.Time1)</li>
            <li class="list-group-item"><b>@Html.DisplayNameFor(model => model.Time2)</b>: @Html.DisplayFor(model => model.Time2)</li>
            <li class="list-group-item"><b>@Html.DisplayNameFor(model => model.Time3)</b>: @Html.DisplayFor(model => model.Time3)</li>
            <li class="list-group-item"><b>@Html.DisplayNameFor(model => model.MultiplexId)</b>: @Html.DisplayFor(model => model.MultiplexId)</li>

        </ul>
        </div>
    </div>
        <br />
        <div class="col-md-12">
            <a asp-controller="Auditorium" asp-action="Index" class="btn btn-primary">Back To List</a>
            </div>